<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="notesSection">
    <!-- Lien pour ajouter une note -->
    <a th:href="@{/patHistory/show(patId=${patient.id})}" class="btn btn-success">Ajouter une note</a>

    <!-- Notes du patient -->
    <div class="notes-section">
        <h2>Notes du patient</h2>
        <table class="table table-bordered notes-table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Contenu</th>
            </tr>
            </thead>
            <tbody>
            <!-- Utilisez une boucle Thymeleaf pour itérer à travers les notes -->
            <tr th:each="note : ${notes}">
                <td th:text="${#temporals.format(note.date, 'dd MMMM yyyy HH:mm')}"></td>
                <td>
                    <span th:text="${#strings.abbreviate(note.e, 100)}"></span>
                    <a th:href="@{/patHistory/note(id=${note.id})}" class="read-more-link">Lire la suite</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:if="${errorMessage}" class="text-danger">
            <p th:text="${errorMessage}"></p>
        </div>
    </div>
</div></div>
</html>