<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Création de Note</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1>Création de Note</h1>
    <form th:action="@{/patHistory/save}" th:object="${note}" method="post">
        <div class="form-group">
            <label for="patientName">Nom du Patient</label>
            <input type="text" class="form-control" id="patientName" th:value="${patientName}" readonly>
        </div>
        <input type="hidden" name="patId" th:value="${patId}" />

        <div th:if="${note.id != null}">
            <input type="hidden" name="id" th:value="${note.id}" />
            <input type="hidden" name="date" th:value="${note.date}" />
        </div>

        <div class="form-group">
            <label for="e">Commentaire</label>
            <textarea class="form-control" id="e" th:field="*{e}" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</div>
</body>
</html>
